//FONT-FAMILY
$primary-font-family: 'Poppins';

//COLOR
$primary-white-color: #ffffff;
$secondary-light-color: #f4fbf6;
$secondary-light2-color: #bbbbbb;
$primary-grey-color: #999999;
$secondary-grey-color: #777777;
$primary-dark-color: #222222;
$secondary-dark-color: #6c6c6c;
$primary-accent-color: #00a031;
