.footer {
  width: 100%;
  height: 344px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__menu {
  width: 490px;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
.navigation__item {
  font-size: 16px;
  font-family: 'Gilroy Light';
}
.navigation__item a {
  text-decoration: none;
  color: #777777;
}
.copyright {
  font-size: 14px;
  font-family: 'Gilroy Light';
  color: #777777;
}

@media (max-width: 360px) {
  .footer__menu {
    width: 280px;
  }
  .navigation__item {
    font-size: 12px;
  }
  .copyright {
    font-size: 10px;
  }
}

@media (min-width: 360px) and (max-width: 520px) {
  .footer__menu {
    width: 340px;
  }
  .navigation__item {
    font-size: 12px;
  }
  .copyright {
    font-size: 10px;
  }
}

@media (min-width: 520px) and (max-width: 720px) {
  .footer__menu {
    width: 400px;
  }
  .navigation__item {
    font-size: 14px;
  }
  .copyright {
    font-size: 12px;
  }
}

@media (min-width: 720px) {
}
